
@{
    ViewData["Title"] = "About";
}

<div id="tooplate_main">
    <div id="content" class="float_l">

        <h2>About</h2>
        <div class="image_frame image_fl"><span></span><img width="150" height="170" src="~/images/foto.jpg" alt="" /></div>
        <p><em>This project was made by Daniel Raimundo.</em></p>
        <p>CET58 - Acesso Móvel a Sistemas de Informação</p>
        <div class="image_frame image_fr"><span></span><img src="images/tooplate_image_02.jpg" alt="" /></div>
        <p>Cinel</p>

        <div class="cleaner h40"></div>

        <div class="col one_third">
            <h5>Services</h5>
            <ul class="tmo_list">
                <li>Integer placerat dolor vel</li>
                <li>Condimentum vulputate augue</li>
                <li>Felis pharetra felis sed</li>
                <li>Tortor mi in massa donec</li>
                <li>Dolor vel condimentum</li>
                <li>Augue felis pharetra felis sed</li>
                <li>Vulputate tortor mi in massa</li>
            </ul>
        </div>
        <div class="col one_third no_margin_right">
            <h5>Flickr Stream</h5>
            <ul class="flickr_stream">
                <li><a href="#"><img class="~/image_frame" src="images/tooplate_image_02.png" alt="" /></a></li>
                <li><a href="#"><img class="~/image_frame" src="images/tooplate_image_03.png" alt="" /></a></li>
                <li class="no_margin_right"><a href="#"><img class="~/image_frame" src="~/images/tooplate_image_04.png" alt="" /></a></li>
                <li><a href="#"><img class="image_frame" src="~/images/tooplate_image_05.png" alt="" /></a></li>
                <li><a href="#"><img class="image_frame" src="~/images/tooplate_image_06.png" alt="" /></a></li>
                <li class="no_margin_right"><a href="#"><img class="image_frame" src="~/images/tooplate_image_07.png" alt="" /></a></li>
            </ul>
        </div>
    </div>

    <div id="sidebar" class="float_r">
        @*<a href="#"><img src="~/images/ad_300.jpg" alt="image" /></a>*@

        <div class="cleaner h40"></div>

        <h5>Recent Posts</h5>
        <div class="rp_pp">
            <a href="#">Integer venenatis pharetra magna vitae ultrices</a>
            <p>Feb 23, 2048 - 20 Comments</p>
            <div class="cleaner"></div>
        </div>
        <div class="rp_pp">
            <a href="#">Vestibulum quis nulla nunc, nec lobortis nunc.</a>
            <p>Feb 16, 2048 - 20 Comments</p>
            <div class="cleaner"></div>
        </div>
        <div class="rp_pp">
            <a href="#">Pellentesque convallis tristique mauris.</a>
            <p>Feb 10, 2048 - 20 Comments</p>
            <div class="cleaner"></div>
        </div>

    </div>


    <div class="cleaner"></div>
</div> <!-- END of tooplate_main -->
