@{
    ViewData["Title"] = "Home Page";
}

<div id="tooplate_main">
    <div id="slider-wrapper">

        <div id="slider" class="nivoSlider">
            <img src="~/images/slider/toystory.jpg" alt="" />
            <a href="http://dev7studios.com"><img src="~/images/slider/up.jpg" alt="" /></a>
            <img src="~/images/slider/walle.jpg" alt="" />
            <img src="~/images/slider/nemo.jpg" alt="" title="#htmlcaption" />
        </div>
        @*<div id="htmlcaption" class="nivo-html-caption">
                <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
            </div>*@

    </div>
    <script type="text/javascript" src="~/js/jquery-1.4.3.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.nivo.slider.pack.js"></script>
    <script type="text/javascript">
        $(window).load(function () {
            $('#slider').nivoSlider();
        });
    </script>



    @*<div class="col one_third no_margin_right">
            <a href="#"><img src="~/images/ad_300.jpg" alt="image" /></a>
        </div>*@

    <div class="cleaner h30"></div>

    <div id="tooplate_main">
        <div id="content" class="float_l">
            <iframe width="600" height="320" style="border: 10px solid #ddd" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=EN&amp;q=time+square&amp;aq=&amp;sll=40.716558,-73.931122&amp;sspn=0.40438,1.056747&amp;ie=UTF8&amp;rq=1&amp;ev=p&amp;split=1&amp;radius=33.22&amp;hq=time+square&amp;hnear=&amp;ll=37.061753,-95.677185&amp;spn=0.438347,0.769043&amp;z=9&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=EN&amp;q=time+square&amp;aq=&amp;sll=40.716558,-73.931122&amp;sspn=0.40438,1.056747&amp;ie=UTF8&amp;rq=1&amp;ev=p&amp;split=1&amp;radius=33.22&amp;hq=time+square&amp;hnear=&amp;ll=37.061753,-95.677185&amp;spn=0.438347,0.769043&amp;z=9">View Larger Map</a></small>
            <div class="cleaner h40"></div>
        </div>
    </div>

    <div class="cleaner"></div>

    <div class="col one_third">
        <h5>Recent Posts</h5>
        <div class="rp_pp">
            <a href="fullpost.html">Integer venenatis pharetra magna vitae ultrices</a>
            <p>Feb 23, 2048 - 20 Comments</p>
            <div class="cleaner"></div>
        </div>
        <div class="rp_pp">
            <a href="fullpost.html">Vestibulum quis nulla nunc, nec lobortis nunc.</a>
            <p>Feb 16, 2048 - 20 Comments</p>
            <div class="cleaner"></div>
        </div>
        <div class="rp_pp">
            <a href="fullpost.html">Pellentesque convallis tristique mauris.</a>
            <p>Feb 10, 2048 - 20 Comments</p>
            <div class="cleaner"></div>
        </div>
    </div>

    <div class="col one_third">
        <h5>Popular Posts</h5>
        <div class="rp_pp">
            <a href="fullpost.html">Id tempor odio faucibus et proin pharetra justo.</a>
            <p>Feb 02, 2048 - 20 Comments</p>
            <div class="cleaner"></div>
        </div>
        <div class="rp_pp">
            <a href="fullpost.html">Etiam Fringilla Sapien quis mauris  vestibulum.</a>
            <p>June 03, 2048 - 20 Comments</p>
            <div class="cleaner"></div>
        </div>
        <div class="rp_pp">
            <a href="fullpost.html">Sed ac arcu ipsum, ut suscipit neque. </a>
            <p>August 08, 2048 - 20 Comments</p>
            <div class="cleaner"></div>
        </div>
    </div>

    <div class="col one_third no_margin_right">
        <h5>Flickr Stream</h5>
        <ul class="flickr_stream">
            <li><a href="#"><img class="image_frame" src="~/images/tooplate_image_02.png" alt="" /></a></li>
            <li><a href="#"><img class="image_frame" src="~/images/tooplate_image_03.png" alt="" /></a></li>
            <li class="no_margin_right"><a href="#"><img class="image_frame" src="~/images/tooplate_image_04.png" alt="" /></a></li>
            <li><a href="#"><img class="image_frame" src="~/images/tooplate_image_05.png" alt="" /></a></li>
            <li><a href="#"><img class="image_frame" src="~/images/tooplate_image_06.png" alt="" /></a></li>
            <li class="no_margin_right"><a href="#"><img class="image_frame" src="~/images/tooplate_image_07.png" alt="" /></a></li>
        </ul>
    </div>

    <div class="cleaner"></div>

