@model WeatherProject.Models.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}

<div class="content-area user-profiel" style="background-color: #FCFCFC;">
    &nbsp;
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 profiel-container">

                <form action="" method="">

                    <div class="profiel-header">
                        <h3>
                            <b>UPDATE</b> YOUR PASSWORD <br>
                            <small>All change will send to your e-mail.</small>
                        </h3>
                        <hr>
                    </div>

                    <div class="clear">


                        <div class="col-sm-10 col-sm-offset-1">
                            <div asp-validation-summary="ModelOnly"></div>
                            <div class="form-group">
                                <label class="label" asp-for="OldPassword"> Old PassWord</label>
                                <input asp-for="OldPassword" type="password" class="form-control">
                                <span asp-validation-for="OldPassword"></span>
                            </div>
                            <div class="form-group">
                                <label class="label" asp-for="NewPassword"> New PassWord</label>
                                <input asp-for="NewPassword" type="password" class="form-control">
                                <span asp-validation-for="NewPassword"></span>
                            </div>
                            <div class="form-group">
                                <label class="label" asp-for="Confirm">Confirm PassWord</label>
                                <input asp-for="Confirm" type="password" class="form-control">
                                <span asp-validation-for="Confirm"></span>
                            </div>
                        </div>
                        <div class="col-sm-10 col-sm-offset-1">
                            <input type="submit" class='btn btn-finish btn-primary pull-right' name='update' value='Change Password' />
                            @*<a asp-action="ChangeUser" class="btn btn-success">Back to user</a>*@
                        </div>

                    </div>




                </form>

            </div>
        </div><!-- end row -->

    </div>
</div>


