@model WeatherProject.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<br />

<h1>Login</h1>

<div id="tooplate_main">
    <div id="content" class="float_l">
        <div id="contact_form">
            <form method="POST">
                <div asp-validation-summary="ModelOnly"></div>

                <br />
                <br />

                <label asp-for="Email">Email</label>
                <input asp-for="Email" class="validate-email required input_field">
                <span asp-validation-for="Email"></span>
                <div class="cleaner h10"></div>

                <label class="label" asp-for="Password">PassWord</label>
                <input asp-for="Password" type="password" class="required input_field">
                <span asp-validation-for="Password"></span>
                <div class="cleaner h10"></div>

                <button type="submit" class="btn btn-default"> Log in</button>
                <button asp-action="RecoverPassword" type="submit" class="btn btn-default">Recover Password</button>
                <button asp-action="Register" type="submit" class="btn btn-default">Register</button>

            </form>
        </div>
    </div>
</div>

